.list-container {
  background-color: #6d7993c0;
}

.list__title {
  text-align: center;
  padding: 15px;
  font-size: 22px;
  color: #d5d5d5;
  border-top: 2px solid #3e424bdd;
  border-bottom: 2px solid #b6b1b1;
}

@media screen and (min-width: 760px) {
  .list-container {
    width: 100%;
  }

  .list__title {
    font-size: 28px;
  }
}
