.pending-book {
  background-color: #d5d5d5;
  padding: 10px;
  padding-bottom: 100px;
}

.book-counter {
  font-family: var(--secondary-font);
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  padding: 5px 0 15px 0;
}

.books-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book__title {
  font-family: var(--secondary-font);
  font-weight: bold;
}

.books-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.book__image {
  border: 2px solid white;
}

.book__author {
  font-family: var(--primary-font);
}

.book__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book__id {
  font-size: 18px;
  padding: 0 5px 0 0;
}

@media screen and (min-width: 760px) {
  .books-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .books-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .book__image {
    width: 60%;
    height: 60%;
  }

  .book-counter {
    font-size: 32px;
    padding: 15px;
  }

  .book__author {
    font-size: 28px;
  }

  .book__title {
    font-size: 28px;
  }
}
